p2ws_package/Devpp2ws-Package/flows/Automatic_Flight_Number-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_2_myRule_1_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is New Flight</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;New Flight&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_Name</name>
        <dataType>String</dataType>
        <expression>&quot;New Flight&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( [Flight__c].IS_CFMS__c = TRUE, &quot;TG&quot; &amp; LEFT(TRIM([Flight__c].Name), 3) &amp; &quot; &quot; &amp; &quot;/&quot; &amp; &quot; &quot; &amp; RIGHT(TEXT([Flight__c].Flight_Date__c), 2) &amp;

CASE(MID ( TEXT([Flight__c].Flight_Date__c) , 6, 2 ) , &quot;01&quot;, &quot;JAN&quot;, &quot;02&quot;, &quot;FEB&quot;, &quot;03&quot;, &quot;MAR&quot;, &quot;04&quot;, &quot;APR&quot;, &quot;05&quot;, &quot;MAY&quot;, &quot;06&quot;, &quot;JUN&quot;, &quot;07&quot;, &quot;JUL&quot;, &quot;08&quot;, &quot;AUG&quot;, &quot;09&quot;, &quot;SEP&quot;, &quot;10&quot;, &quot;OCT&quot;, &quot;11&quot;, &quot;NOV&quot;, &quot;12&quot;, &quot;DEC&quot;, &quot;&quot;) &amp; MID(TEXT([Flight__c].Flight_Date__c), 3, 2) , 


[Flight__c].Name&amp; &quot; &quot; &amp; &quot;/&quot; &amp; &quot; &quot; &amp; RIGHT(TEXT([Flight__c].Flight_Date__c), 2) &amp;

CASE(MID ( TEXT([Flight__c].Flight_Date__c) , 6, 2 ) , &quot;01&quot;, &quot;JAN&quot;, &quot;02&quot;, &quot;FEB&quot;, &quot;03&quot;, &quot;MAR&quot;, &quot;04&quot;, &quot;APR&quot;, &quot;05&quot;, &quot;MAY&quot;, &quot;06&quot;, &quot;JUN&quot;, &quot;07&quot;, &quot;JUL&quot;, &quot;08&quot;, &quot;AUG&quot;, &quot;09&quot;, &quot;SEP&quot;, &quot;10&quot;, &quot;OCT&quot;, &quot;11&quot;, &quot;NOV&quot;, &quot;12&quot;, &quot;DEC&quot;, &quot;&quot;) &amp; MID(TEXT([Flight__c].Flight_Date__c), 3, 2)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_Name</name>
        <dataType>String</dataType>
        <expression>IF( {!myVariable_current.IS_CFMS__c} = TRUE, &quot;TG&quot; &amp; LEFT(TRIM({!myVariable_current.Name}), 3) &amp; &quot; &quot; &amp; &quot;/&quot; &amp; &quot; &quot; &amp; RIGHT(TEXT({!myVariable_current.Flight_Date__c}), 2) &amp;

CASE(MID ( TEXT({!myVariable_current.Flight_Date__c}) , 6, 2 ) , &quot;01&quot;, &quot;JAN&quot;, &quot;02&quot;, &quot;FEB&quot;, &quot;03&quot;, &quot;MAR&quot;, &quot;04&quot;, &quot;APR&quot;, &quot;05&quot;, &quot;MAY&quot;, &quot;06&quot;, &quot;JUN&quot;, &quot;07&quot;, &quot;JUL&quot;, &quot;08&quot;, &quot;AUG&quot;, &quot;09&quot;, &quot;SEP&quot;, &quot;10&quot;, &quot;OCT&quot;, &quot;11&quot;, &quot;NOV&quot;, &quot;12&quot;, &quot;DEC&quot;, &quot;&quot;) &amp; MID(TEXT({!myVariable_current.Flight_Date__c}), 3, 2) , 


{!myVariable_current.Name}&amp; &quot; &quot; &amp; &quot;/&quot; &amp; &quot; &quot; &amp; RIGHT(TEXT({!myVariable_current.Flight_Date__c}), 2) &amp;

CASE(MID ( TEXT({!myVariable_current.Flight_Date__c}) , 6, 2 ) , &quot;01&quot;, &quot;JAN&quot;, &quot;02&quot;, &quot;FEB&quot;, &quot;03&quot;, &quot;MAR&quot;, &quot;04&quot;, &quot;APR&quot;, &quot;05&quot;, &quot;MAY&quot;, &quot;06&quot;, &quot;JUN&quot;, &quot;07&quot;, &quot;JUL&quot;, &quot;08&quot;, &quot;AUG&quot;, &quot;09&quot;, &quot;SEP&quot;, &quot;10&quot;, &quot;OCT&quot;, &quot;11&quot;, &quot;NOV&quot;, &quot;12&quot;, &quot;DEC&quot;, &quot;&quot;) &amp; MID(TEXT({!myVariable_current.Flight_Date__c}), 3, 2)
)</expression>
    </formulas>
    <interviewLabel>Automatic_Flight_Number-15_Flight__c</interviewLabel>
    <label>Automatic Flight Number</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Flight__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Flight__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Flight Number</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Flight Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Flight__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flight__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Flight__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
